<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th><th>Name</th><th>Price</th><th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${productsList}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.quantity}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
